/* Start of custom css file */
/* main css containers STARTS */
* {
  margin: 0;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100%;
}
/* main css containers ENDS */

/* navigation container STARTS */
.nav-container {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 77px;
  z-index: 999;
  background-image: linear-gradient(rgba(141, 197, 177, 100), rgba(231, 201, 166, 100));
}

.nav-container div {
  flex-direction: row;
  margin: 20px;
  padding: 10px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-family: 'Courgette', cursive;
  font-size: 2.2rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
/* navigation container ENDS */

/* category container STARTS */
.category-container {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 999;
  height: 75px;
  width: 100%;
  margin-top: -157px;
  background-color: rgba(255, 255, 255, 0.99);
  border-bottom: solid 1px rgba(230, 230, 230, 0.90);
  overflow-x: auto;
}

.category-container div {
  flex-direction: row;
  margin: 17px 10px 10px 10px;
  padding: 10px;
  background-color: rgba(231, 201, 166, 100);
  border: solid 1px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.category-container div:hover {
  background-color: white;
  border: 1px solid rgba(231, 201, 166, 100);
  color: rgba(231, 201, 166, 100);
}

.category-container::-webkit-scrollbar {
  width: 0;
}
/* category container ENDS */

/* card container STARTS */
.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 234px;
}

.image {
  position: relative;
  height: 300px;
  margin: 40px 42px 0 42px;
  background-color: rgba(255, 255, 255, 0.50);
  box-shadow: 0 5px 20px 0 rgba(10, 20, 70, 0.30);
  -webkit-backdrop-filter: blur(4px);
}

.promo-img {
  height: 300px;
  width: 293px;
  border-radius: 4px;
}

.text {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 37px;
  width: 293px;
  bottom: 0;
  background-color: rgba(141, 197, 177, .60);
  border-radius: 0 0 4px 4px;
}

.promo-text {
  display: flex;
  flex-grow: 3;
  align-items: center;
  justify-content: center;
  padding: 0 2px;
  color: white;
}

.heart-icon {
  display: flex;
  flex-direction: row;
  margin: 0 4px;
}

.fa-heart-o {
  color: white;
  font-size: 2.1rem;
}
/* card container ENDS */

/* Icon container STARTS */
.icon-container {
  display: flex;
  position: fixed;
  height: 69px;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(231, 201, 166, 100), rgba(141, 197, 177, 100));
}

.icon-container div {
  flex-direction: row;
  flex-grow: 1;
  margin: 15px;
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

/* Icon container ENDS */

/* custom css file ends */
